# This notebook will just go through the basic topics in order:

Data types
Numbers
Strings
Printing
Lists
Dictionaries
Booleans
Tuples
Sets
Comparison Operators
if, elif, else Statements
for Loops
while Loops
range()
list comprehension
functions
lambda expressions
map and filter
methods

In [1]:
num = 12
name = 'Sam'

In [2]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [3]:
seq = [1,2,3,4,5]

In [4]:
for item in seq:
    print(item)

1
2
3
4
5

In [5]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [6]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [20]:
i = 1
while i < 5:
    print(f"i is:, {i}")
    i = i+1

i is:, 1
i is:, 2
i is:, 3
i is:, 4

In [22]:
range(5,10)

range(5, 10)

In [25]:
for i in range(6,11):
    print(i)

6
7
8
9
10

In [26]:
list(range(5))

[0, 1, 2, 3, 4]

In [27]:
x=[1,2,3,4,5]

In [28]:
out = []

In [29]:
for item in x:
    out.append(item**2)

In [30]:
print(out)

[1, 4, 9, 16, 25]

In [31]:
item**2 in x

False

In [34]:
[item**2 for item in x]

[1, 4, 9, 16, 25]

In [35]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [36]:
my_func

In [37]:
my_func()

default

In [38]:
my_func('life is happy')

life is happy

In [41]:
def square(x):
    return x**2

In [42]:
square(2)

4

In [48]:
def times2(square):
    return square*2

In [49]:
times2(2)

4

In [57]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [58]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [59]:
filter(lambda item: item%2 == 0,seq)

In [60]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

In [61]:
list(filter(lambda item: item%2 != 0,seq))

[1, 3, 5]

In [62]:
st = 'hello my name is Sam'

In [63]:
st.lower()

'hello my name is sam'

In [64]:
st.upper()

'HELLO MY NAME IS SAM'

In [65]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [66]:
tweet = 'Go Sports! #Sports'

In [67]:
tweet[1]

'o'

In [68]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [71]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [72]:
tweet.split('#')[1]

'Sports'

In [75]:
'x' in ['1','2','z']

False

In [74]:
'x' in ['x','y','z']

True